In [23]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
url = "https://en.wikipedia.org/wiki/List_of_North_American_Numbering_Plan_area_codes"
soup = BeautifulSoup(urlopen(url).read())

In [4]:
tables = soup.find_all("table")

In [44]:
rows = []
for table in tables:
  for tr in table.find_all("tr"):
    temp = []
    for cell in tr.find_all("td"):
      cell = cell.text
      cell = cell.replace("\n", "")
      temp.append(cell)

    if len(temp) == 3 and temp != [] and temp[1] != "not in use":
      rows.append(temp)

In [45]:
df = pd.DataFrame(rows)

In [54]:
def get_triangular_numbers(n: int):
  temp = []
  j = 0
  for i in range(1, n):
    j += i
    temp.append(str(j))

  return temp

tri_nums = get_triangular_numbers(100)
print(tri_nums)

['1', '3', '6', '10', '15', '21', '28', '36', '45', '55', '66', '78', '91', '105', '120', '136', '153', '171', '190', '210', '231', '253', '276', '300', '325', '351', '378', '406', '435', '465', '496', '528', '561', '595', '630', '666', '703', '741', '780', '820', '861', '903', '946', '990', '1035', '1081', '1128', '1176', '1225', '1275', '1326', '1378', '1431', '1485', '1540', '1596', '1653', '1711', '1770', '1830', '1891', '1953', '2016', '2080', '2145', '2211', '2278', '2346', '2415', '2485', '2556', '2628', '2701', '2775', '2850', '2926', '3003', '3081', '3160', '3240', '3321', '3403', '3486', '3570', '3655', '3741', '3828', '3916', '4005', '4095', '4186', '4278', '4371', '4465', '4560', '4656', '4753', '4851', '4950']

In [82]:
l = []
for row in rows:
  if row[0] in tri_nums:
    l.append(row[1].split(" ")[0])

l = list(set(l))
l.sort()
# states with triangular number area codes
for state in l:
  print(state)

Alabama
Alberta
California
Florida
Illinois
Massachusetts
Michigan
Montana
Texas
Utah
Virginia
Washington